.contenedor{
    height:240px;
    display:flex;
    flex-flow:row wrap;
    align-items:baseline;
    }
    .elemento{
    width:21%;
    line-height:2rem;
    }
    .elemento:first-child{
    line-height:4rem;
    }
    .elemento:nth-child(3){
    font-size:1rem;
    line-height:1.2rem;
    }
    .elemento:nth-child(6){
    font-size:3rem;
    line-height:5rem;
    }
    .elemento:last-child{
    line-height:3rem;
    }